<div class="container-fluid">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4">
    <a href="/dashboard" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-primary text-decoration-none fw-bold fs-2">
      PMS HR SERVICE
    </a>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a href="/dashboard" class="nav-link px-2 link-dark">Home</a></li>
      <li><a href="/worksite" class="nav-link px-2 link-dark">Worksite</a></li>
      <li><a href="/employee" class="nav-link px-2 link-dark">Employee</a></li>
      <li><a href="/wage" class="nav-link px-2 link-dark">Wage</a></li>
    </ul>

    <div class="col-md-3 text-end">
      <a href="/logout" type="button" class="btn btn-outline-primary">Logout</a>
    </div>
  
</div>


</header>