<header>
    <nav>
        <ul>
            <li><a href="/">PMS</a></li>
            <li><a href="/jobs">현장</a></li>
            <li><a href="/companies">업체</a></li>
            <li><a href="/workers">인력</a></li>
            <li><a href="/settings">설정</a></li>
        </ul>
    </nav>
</header>
