torch
transformers
datasets
seqeval
kobert-transformers
git+https://github.com/SKTBrain/KoBERT.git@master#egg=kobert
git+https://github.com/SKTBrain/KoBERT.git#egg=kobert_tokenizer&subdirectory=kobert_hf
scikit-learn
